#page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#map-container {
    flex: 70%;
    width: 500px;
    height: 1000; /* Set a height for the map container */
    position: relative;
}
.mapboxgl-popup-content {
  max-width: 1000px; 
  max-height: 400px; 
  overflow-y: auto; /* scrolable */
}

.mapboxgl-popup {
  font-size: 10px; /* font size of the popup */
}


NaviBar {
    flex: 20%; /* Flex-grow: 0, flex-shrink: 0, flex-basis: 30% */
}

.reset-button {
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 12px;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
}

h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
}

a {
    color: #404040;
    text-decoration: none;
}

a:hover {
    color: #101010;
}

.heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}

.sidebar {
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgb(0 0 0 / 25%);
}

.search-route{
    background-color: red;
}