.poster-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--font-size-23xl-5);
}

.poster {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    box-shadow: 0 7.1px 7.1px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-7xl-5);
    background-color: var(--color-white);
    border: 1.8px solid var(--color-silver-100);
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-18xl) var(--padding-3xl) var(--padding-34xl)
        var(--padding-7xl);
    gap: var(--gap-19xl-9);
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
    text-align: center;
    font-size: var(--font-size-4xl);
    color: var(--color-black);
    font-family: var(--font-sf-pro);
}


.scroll-container {
    max-height: 400px;
    overflow-y: scroll; /* Enable vertical scrolling */
}

.poster .button {
    background-color: var(--color-indigo);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.inputs{
    border-radius: 20px;
    max-width: 15%;
    background-color: blanchedalmond;
    font-family: var(--font-sf-pro);
}
.filter-button{
    background-color: var(--color-indigo);
    color: var(--color-white);
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}