.text-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-deeppink);
}
.type-here {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 28px);
  font-weight: 800;
}
.text-button {
  position: absolute;
  top: 629px;
  left: calc(50% - 159px);
  width: 318px;
  height: 53px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-text);
}
