.event-items-child {
  width: 218.7px;
  height: 183.2px;
  position: relative;
  box-shadow: 0 5.7px 5.7px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-2xl-3);
  background-color: var(--color-white);
  border: 1.4px solid var(--color-silver-100);
  box-sizing: border-box;
  display: none;
}
.cooking-showcase-19 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  color: inherit;
  z-index: 1;
}
.yoga-2-icon2 {
  height: 95.1px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.event-activities {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 0 var(--padding-mid);
}
.event-items {
  flex: 1;
  box-shadow: 0 5.7px 5.7px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-2xl-3);
  background-color: var(--color-white);
  border: 1.4px solid var(--color-silver-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-5xs) var(--padding-15xl)
    var(--padding-4xs);
  gap: var(--gap-4xs-6);
  min-width: 142px;
  text-align: center;
  font-size: var(--font-size-mini-2);
  color: var(--color-black);
  font-family: var(--font-sf-pro);
}
