.facility-filter-child,
.frame-child4 {
  position: relative;
  box-shadow: 0 7.9px 7.9px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-10xl-6);
  background-color: var(--color-gray-300);
  display: none;
}
.facility-filter-child {
  align-self: stretch;
  height: 303.9px;
}
.frame-child4 {
  height: 104.6px;
  width: 451.9px;
  max-width: 100%;
}
.facilities,
.vector-icon8 {
  position: relative;
  z-index: 2;
}
.facilities {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
.vector-icon8 {
  width: 32.8px;
  height: 29.3px;
  object-fit: contain;
}
.rectangle-container,
.vector-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.rectangle-container {
  align-self: stretch;
  box-shadow: 0 7.9px 7.9px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-10xl-6);
  background-color: var(--color-gray-300);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-14xl-5) var(--padding-24xl) var(--padding-17xl-1)
    var(--padding-38xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.basketball-court {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.basketball-court-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-9) 0 0;
}
.frame-child5 {
  align-self: stretch;
  width: 13.8px;
  position: relative;
  border-radius: var(--br-7xs-9);
  background-color: var(--color-darkgray-100);
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent9 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.community-centre {
  width: 281px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.facility-filter-inner,
.frame-parent8 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent8 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs-9);
}
.facility-filter-inner {
  height: 90.2px;
  flex-direction: row;
  padding: 0 var(--padding-36xl) 0 var(--padding-38xl);
  box-sizing: border-box;
}
.playground {
  flex: 1;
  position: relative;
  z-index: 1;
}
.facility-filter,
.playground-option {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.playground-option {
  width: 284.2px;
  flex-direction: row;
  padding: 0 var(--padding-37xl) 0 var(--padding-38xl);
}
.facility-filter {
  box-shadow: 0 7.9px 7.9px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-10xl-6);
  background-color: var(--color-gray-300);
  flex-direction: column;
  padding: 0 0 var(--padding-23xl);
  gap: var(--gap-mid-1);
  min-width: 451.9px;
  max-width: 100%;
  z-index: 1;
}
.dist-fliter-child {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 5.7px 5.7px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-2xl-2);
  background-color: var(--color-white);
  border: 1.4px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.dist-km {
  position: absolute;
  top: 15px;
  left: 0;
  display: inline-block;
  width: 379px;
  height: 16.1px;
  z-index: 2;
}
.blank-block-parent {
  position: absolute;
  top: 57px;
  left: 73px;
  width: 378px;
  height: 46px;
}
.dist-title-child {
  height: 33.9px;
  width: 138.6px;
  position: relative;
  border-radius: var(--br-mini-1);
  background-color: var(--color-gray-500);
  display: none;
}
.distance {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  z-index: 1;
}
.dist-title {
  position: absolute;
  top: 65px;
  left: 34px;
  border-radius: var(--br-mini-1);
  background-color: var(--color-gray-500);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 var(--padding-mini);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-9xl-3);
  color: var(--color-black);
}
.dist-fliter {
  align-self: stretch;
  height: 164px;
  position: relative;
  box-shadow: 0 5.7px 5.7px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-2xl-2);
  background-color: var(--color-white);
  border: 1.4px solid var(--color-silver-100);
  box-sizing: border-box;
  z-index: 1;
}
.dist-fliter-wrapper,
.facility-filter-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.dist-fliter-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 304px;
  font-size: var(--font-size-sm-8);
  color: var(--color-gray-600);
  font-family: var(--font-sf-pro);
}
.facility-filter-parent {
  margin-right: -2.2px;
  width: 982.1px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-43xl-1);
  text-align: center;
  font-size: var(--font-size-10xl-6);
  color: var(--color-dimgray);
  font-family: var(--font-sf-pro-text);
}
@media screen and (max-width: 1050px) {
  .facility-filter {
    flex: 1;
  }
  .facility-filter-parent {
    gap: var(--gap-12xl);
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .facility-filter {
    min-width: 100%;
  }
  .facility-filter-parent {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .facilities {
    font-size: var(--font-size-5xl);
  }
  .rectangle-container {
    flex-wrap: wrap;
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .basketball-court,
  .community-centre {
    font-size: var(--font-size-5xl);
  }
  .facility-filter-inner {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .playground {
    font-size: var(--font-size-5xl);
  }
  .playground-option {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .distance {
    font-size: var(--font-size-4xl);
  }
}
